.about-me {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  
  .reverse {
    flex-direction: row-reverse;
  }
  
  .left-content img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .right-content {
    flex: 1;
    padding: 0 1.5rem;
  }
  