
#dialog-section {
    position: relative;
}

#add-cookie {
    color: white;
    background: #c4b7c4;
    position: absolute;
    right: 1%;
    top: -40px;
    border: none;
  }

  #img-prev {
    max-width: 100%;
  }

  @media only screen and (min-width: 600px) {
    #img-prev-section {
        flex: 1;
    }

    #img-prev {
        max-width: 100%;
    }

    #img-upload {
        flex: 6;
    } 
  }