.main-header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    font-family: 'Playfair Display', serif;
}

.main-header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-header .baking-heaven {
    color: #c4b7c4; /* Adjust this to match your nav bar color */
    text-decoration: none;
}
